# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Flask cache or logs
instance/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
*.swp
.idea/

# Render deploy builds (if applicable)
build/
